@model List<GymInns.Models.Domain.Product>
@{
    ViewData["Title"] = "Home Page";
    String[] option = { "Shirt", "Sweat Shirt", "T - Shirt", "Pants", "Shoes", "Jacket", "Accecories" };
}

<div class="text-center">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <h1 class="title"> Welcome to Gym Inns</h1>

    <div class="row mt-5">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col">
                            <h5>@option[0]</h5>
                        </div>
                        <div class="col">
                            <h5>@option[1]</h5>

                        </div>

                        <div class="col">
                            <h5>@option[2]</h5>
                        </div>

                        <div class="col">
                            <h5>@option[3]</h5>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col">
                            <h5>@option[4]</h5>
                        </div>
                        <div class="col">
                            <h5>@option[5]</h5>

                        </div>

                        <div class="col">
                            <h5>@option[6]</h5>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
      
    </div>

    <div class="row mt-5">
        @foreach (var product in Model){
        <div class="col">
                <div class="card" style="width: 18rem;">
                    <center>
                        <img class="card-img-top" src="@product.image" style="width:150px;height:200px">
                    </center>
                    <div class="card-body">
                        <h3 class="card-title">@product.name</h3>
                        <p class="card-text">@product.description</p>
                        <h5 class="card-title">Rp. @product.price</h5>
                        <a href="/Product/Detail/@product.ID" class="btn btn-dark">Buy Now!</a>
                    </div>
                </div>
        </div>
        }
    </div>

</div>
